@import 'tailwindcss';

:root {
  font-family: 'MedievalSharp', cursive;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.creepster-regular {
  font-family: 'Creepster', system-ui;
  font-weight: 400;
  font-style: normal;
}

.medievalsharp-regular {
  font-family: 'MedievalSharp', cursive;
  font-weight: 400;
  font-style: normal;
}
